extends ../layout

block content
  a.btn.btn-success(href='/usuarios/create') New User

  br
  br

  table.table
    thead
      tr  
        th(scope='col') #
        th(scope='col') Nombre
        th(scope='col') Email
        th(scope='col') Verificado
        th(scope='col')
        th(scope='col')
    tbody
      each user in users
        tr
          td(scope='row') 
            = user.id
          td= user.nombre
          td= user.email
          td= user.verificado ? 'SI ' : 'NO'
          td
            a.btn(href= 'usuarios/' + user.id + '/update') Update
          td
            form.inline(method='post' action='usuarios/' + user.id + '/delete')
                input(type='hidden' name='id' value= user.id)
                button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                    = 'Delete'